.dialog-page {

}
.dialog-bg {
  position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
  .dialog-content {
    background: #fff;        
    width: 500px;
    height: 300px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}